:root {
  --dark-131921: #011c26;
  --darkBlue-febd69: #023859;
  --blue-3b4149: #1877f2;
  --lightblue-feb569: #6cc9ff;
  --turquoise-232f3e: #2d83a6;
  --red-bf4800: #bf4800;
  --gris-777777: #777777;
  --black-1c1c1b: #1c1c1b;
  text-decoration: none;
}

.button {
  background-color: var(--darkBlue-febd69);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  border: none;
  transition: background-color 0.3s ease;
}

.button.primary {
  background-color: var(--darkBlue-febd69);
  color: white;
}

.button.primary:hover {
  background-color: var(--lightblue-feb569);
  color: #131921;
}

.button.lightblue {
  background-color: var(--lightblue-feb569);
  color: #131921;
}

.button.lightblue:hover {
  background-color: #87ceeb;
  color: #131921;
}

.button.white {
  background-color: #ffffff;
  color: #131921;
  border: 1px solid #cccccc;
}

.button.white:hover {
  background-color: var(--lightblue-feb569);
  color: #131921;
  border: 1px solid #aaaaaa;
}
.button.red {
  background-color: #ffffff;
  color: #131921;
  border: 1px solid #cccccc;
}

.button.red:hover {
  background-color: red;
  color: hwb(0 100% 0%);
  border: 1px solid #aaaaaa;
}
.button.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
