.comparador-inputs {
  position: relative;
  max-width: 50%;
  justify-content: center;
  /* max-width: fit-content; */
  margin-left: auto;
  margin-right: auto;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}

.suggestions-list li {
  padding: 8px 16px;
  cursor: pointer;
}

.suggestions-list li.active {
  background-color: #f0f0f0;
}
