/* Comparador.css */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f0f5ff;
  text-align: center;
}

.hero-title {
  color: #011c26;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .input-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

input[type="text"],
.compare-button {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}

.compare-button {
  max-width: 200px;
}

@media (min-width: 768px) {
  input[type="text"] {
    width: 48%;
  }

  .compare-button {
    width: 48%;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 3rem;
  }

  input[type="text"],
  .compare-button {
    max-width: none;
    width: 48%;
  }

  .compare-button {
    width: 48%;
  }
}

/* Nuevas clases para los estilos de comparación */

.price-high {
  color: red !important;
}

.price-low {
  color: green !important;
}

.allergens-high {
  color: red !important;
}

.allergens-low {
  color: green !important;
}

.ingredients-low {
  color: red !important;
}

.ingredients-high {
  color: green !important;
}
