.footer {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 0px 0px;

  background-color: var(--darkBlue-febd69);
  /* background-color: lightgrey; */

  /* padding: 100%; */
  /* max-width: 100%;
  max-height: 800px !important; */
}
.footer img {
  width: 24px;
  height: 24px;
}
.footer .container {
  min-width: 100%;
  background-color: var(--darkBlue-febd69);

  /* background-color: lightgrey; */
  padding: 50px;
  column-gap: 80px;
  /* max-height: 600px; */
}
.footer .container .top {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.footer .container .top .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .container .top .item h2 {
  font-size: 16px;
  color: #ffffff;
}
.footer .container .top .item span {
  font-weight: 300;
}
.footer .container hr {
  margin: 50px 0px;
  height: 0;
  border: 1px solid #ebe9e9;
}
.footer .container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .bottom .left {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .container .bottom .left span {
  font-size: 13px;
  white-space: nowrap;
}
.footer .container .bottom .right {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 30px;
  column-gap: 60px;
}
.footer .container .bottom .right .social {
  display: flex;
  color: #ffffff;
  gap: 20px;
}
.footer .container .bottom .right .link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  column-gap: 50px;
}
