.header {
  background-color: var(--darkBlue-febd69);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.logo img {
  height: 45px;
  width: auto;
  margin-right: 10px;
  margin-left: 20px;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.header-links a:hover {
  color: #ccc;
}

.logout-link {
  cursor: pointer;
}

.logout-link:hover {
  color: rgb(255, 120, 120) !important;
  text-decoration: underline;
}

.search-input {
  padding: 10px;
  border: none;
  color: var(--darkBlue-febd69);
  border-radius: 25px !important;
  width: 500px;
  height: 35px;
  margin: 0 20px;
}
.search-input:focus {
  outline: var(--lightblue-feb569);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-container {
  position: relative;
  display: inline-block;
  border-radius: 25px;
  overflow: hidden;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: none;
  border-radius: 10px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--lightblue-feb569);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
}

.search-button:hover {
  background-color: var(--darkBlue-febd69);
  border: 1px solid #013472;
}

.search-input,
.search-button {
  vertical-align: middle;
  height: 40px;
}

.confirm-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.confirm-content {
  background-color: #fff;
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: var(--darkBlue-febd69);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.confirm-content h2 {
  margin-top: 0;
  justify-content: center;
  color: var(--darkBlue-febd69);
}

.confirm-content button {
  background-color: #2d83a6;
  color: #fff;
  border: none;
  margin-top: 20px;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.confirm-content button:hover {
  background-color: var(--darkBlue-febd69);
}

.confirm-content button + button {
  margin-left: 10px;
}
