.login-form {
  margin: 1.5rem;
}

.input-login {
  min-width: 1.5rem;
  max-width: 20rem;
}

.login-form-button {
  margin-right: 1rem;
}

.register-form-button {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: green;
  color: white;
  border-radius: 0.6rem 0.6rem;
}

.login-form-forgot {
  padding: 0.5rem;
  background-color: red;
  color: white;
  border-radius: 0.6rem 0.6rem;
}
