:root {
  --dark: #011c26;
  --darkBlue: #023859;
  --blue: #1877f2;
  --lightblue: #6cc9ff;
  --turquoise-232f3e: #2d83a6;
  --red-bf4800: #bf4800;
  --gris-777777: #777777;
  --black-1c1c1b: #1c1c1b;
  text-decoration: none;
}
